body {
  background-color: floralwhite;
}
.header {
    width: 100%;
    height: 200px;
    background-color: rgba(121, 44, 27, 0.429);
    text-align: center;
  }
  h1 {
     padding-top: 50px;
     font-family: cursive;
     color: white;		 
  }	
  h4 {
    font-family: cursive;
    color: aliceblue;
  }   
  .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  .nav li {
    display: inline;
    float: left;
  }
  .nav li a{
    display: block;
    padding: 8px;
    color: aliceblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav li a:hover {
    background-color: #111;
  }
  h2 {
    text-shadow: 2px 2px burlywood;
    text-align: center;
  }
  .type li {
    display :inline;
    float: initial;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: rgba(121, 44, 27, 0.429);
    color: #fff;
  }
  .aboutpic {
    float: left;
    width: 170px;
    height: 170px;
    margin-right: 15px;
  }
  .aboutpara{
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
  }
  input[type=text], textarea {
    width: 90%;
    padding: 12px 20px 10px 10px;
    margin: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 90%;
    background-color: rgba(121, 44, 27, 0.429);
    color: white;
    border: none;
    margin: 8px 0;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
  }
  input[type=submit]:hover {
    background-color: burlywood;
  }
  div {
    margin-top: 50px;
  }
  .btm {
    text-align: center;
  }
  footer {
    text-align: center;
    font-size: 10px;
    padding: 3px;
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0%;
    width: 100%;
  }
  .first {
    text-align: left;
    position: relative;
    animation: mymove 5s infinite;
  }
  @keyframes mymove {
    from {left: 100px;}
    to {left: 600px;}
  }